@import "modules/clearfix";
@import "modules/modal";
@import "modules/buttons";
@import "modules/label";

.clickable {
  cursor: pointer;
}

.pull-right { float: right; }
.pull-left { float: left; }

.box {
  background: hsla(0, 0%, 100%, 1);
  @include border-radius(3px);
  @include box-shadow(hsla(0, 0%, 70%, 0.7) 0 0 4px 1px);
}
