@import "modules/clearfix";
@import "modules/modal";
@import "modules/buttons";
@import "modules/label";

.clickable {
  cursor: pointer;
}

.pull-right { float: right; }
.pull-left { float: left; }

.box {
  background: hsla(0, 0%, 100%, 1);
  @include border-radius(3px);
  @include box-shadow(hsla(0, 0%, 70%, 0.7) 0 0 4px 1px);
}

.alert {
  position: fixed;
  padding: 8px 11px;
  text-align: center;
  left: 0;
  right: 0;
  top: 14px;
  z-index: 3000;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid hsla(0, 0%, 58%, 1);
  @include border-radius(4px);

  &.alert-error {
    color: hsla(1, 45%, 50%, 1);
    @include background(hsla(0, 43%, 91%, 1));
    border: 1px solid hsla(351, 44%, 88%, 1);
  }

  &.alert-success {
    color: hsla(121, 32%, 40%, 1);
    @include background(hsla(103, 44%, 89%, 1));
    border: 1px solid hsla(93, 44%, 85%, 1);
  }
}
