.DS_Store
node_modules
dist
.tmp
.sass-cache
app/bower_components
config.js
/public/uploads/pictures/resources/*.png
/.vagrant
*.sublime-project
*.sublime-workspace
.tags

# Vim temp files
*~
*.swp
*.swo
