<div class="resource box">
  <div class="resource--info clearfix">
    <div class="resource--info__name">
      <a ng-href="{{resource.url}}" target="_blank">
        <h3 ng-bind="resource.name || 'Can not fetch the name of this resource. Please refresh your browser try it again.'"></h3>
      </a>
    </div>

    <div class="resource--info__img">
      <img ng-src="{{resource.img_url}}" alt="{{resource.name}}">
    </div>

    <div class="resource--info__description">
      <p ng-bind="resource.description || 'Can not fetch the description of this resource. Please refresh your browser try it again.'"></p>
    </div>

    <div class="resource--info__url">
      <a ng-href="{{resource.url}}" ng-bind="resource.url" target="_blank"></a>
    </div>
  </div>
</div>
