<div class="modal-overlay"></div>
<div class="alert" ng-class="{'alert-error': alertMsg, 'alert-success': infoMsg}" ng-show="alertMsg || infoMsg" ng-bind="alertMsg || infoMsg"></div>

<div ng-include=" '/views/layouts/header.html' "></div>

<modal show="modalContent"></modal>

<!-- page-wrapper: start -->
<div class="page-wrapper">


  <div class="resources" ui-view>
    <div ng-include=" '/views/resources/index.html' "></div>
  </div>

  <div ng-include=" '/views/layouts/sidebar.html' "></div>

</div>
<!-- page-wrapper: end -->

<footer ng-include=" '/views/layouts/footer.html' "></footer>
